@import './../../components/variables.scss';
@import './../../components/fonts.scss';
@import './../../components/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
    height: 120px;

    &__nav {
        display: flex;
        gap: 80px;

        &__logo{
            width: 167px;
            height: 45px;
        }

        &__links {
            display: flex;
            align-items: center;
            gap: 2.4rem;

            .header__nav__link{
                font-size: $agM;
                color: $gray400;

                line-height: 1.5rem;
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
               
            }
            .active {
                color: $primary500;
                font-size: $button;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
            }
        }

        &__join {
            display: flex;
            align-items: center;
            gap: 1rem;

            .SingUp {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 126px;
                height: 48px;

                color: $primary500;
                font-size: $button;
                font-weight: 600;
                text-decoration: none;
                border-radius: .5rem;

                transition: 333ms;

                &:hover {
                    transform: rotate(5deg);
                }
            }

            .SingIn {
                @include button(126px, 48px)
            }
        }
    }
}