// FONTS

$display: 69px;
$button: 16px;

// Heading
$ag1: 58px;
$ag2: 48px;
$ag3: 40px;
$ag4: 34px;
$ag5: 28px;
$ag6: 24px;

// Body
$agL: 20px;
$agM: 16px;
$agS: 14px;


// COLORS

// Primary
$primary0: #FAFDFF;
$primary50: #CFE8FC;
$primary100: #BCDFFB;
$primary200: #95CDF9;
$primary300: #6EBBF7; 
$primary400: #48A8F5;
$primary500: #2196F3;
$primary600: #0C7FDA;
$primary700: #0966AF;
$primary800: #074C83;
$primary900: #053358;


// Gray
$gray50: #F0F3F5;
$gray100: #E1E6EA;
$gray200: #C6CFD7;
$gray300: #ABB8C4;
$gray400: #90A2B2;
$gray500: #758B9F;
$gray600: #5C7184;
$gray700: #475866;
$gray800: #323E48;
$gray900: #1D242A;

// Base
$white: #fff;
$black: #000;